body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    align-self: stretch;
    margin: 10px 0 45px 0;
}

#sheetInputId {
    width: 500px;
    padding: 15px;
    margin: 15px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    width: 150px;
    height: 40px;
}

#isLabelCheckbox {
    width: 20px;
    height: 20px;
    accent-color: #6c5ce7;
    cursor: pointer;
}

#checkboxContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}