body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sheetInputId {
    width: 500px;
    padding: 15px;
    margin: 15px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

button {
    width: 150px;
    height: 40px;
}