body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.page {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 270px;
}

hr {
    align-self: stretch;
    margin: 10px 0 45px 0;
}

#sheetInputId {
    width: 500px;
    padding: 15px;
    margin: 15px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    width: 150px;
    height: 40px;
}

#isLabelCheckbox {
    width: 20px;
    height: 20px;
    accent-color: #6c5ce7;
    cursor: pointer;
}

#checkboxContainer {
    display: flex;
    align-items: center;
    gap: 5px;
}

header {
    position: sticky;
    padding: 20px;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 15px;
}

.menu a {
    font-size: 20px;
    font-family: "Golos Text", sans-serif;
    color: black;
    text-decoration: none;
}

.menu a:hover {
    color: #6c5ce7;
}